@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  color: #000;
}
/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.container {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
}
/* 전체 레이아웃 */
.wrap {
  position: relative;
  display: block;
  /* 헤더가 fix가 되므로 레이아웃용 */
  padding-top: 128px;
  transition: padding-top 0.2;
}
/* 상단 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.2s;
  display: block;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 9999;
}
.header-top {
  position: relative;
  display: block;
  padding-top: 30px;
}
.header-top-left {
  position: relative;
  display: block;
  float: left;
  /* font-size: 0; */
  letter-spacing: 0;
}
.logo {
  position: relative;
  display: inline-block;
  margin-right: 18px;
}
.bt-schedule {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #666;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  vertical-align: -2px;
}
.bt-schedule img {
  vertical-align: -3px;
  margin-right: 5px;
}
.header-top-right {
  position: relative;
  display: block;
  float: right;
  padding-top: 3px;
}
.track {
  position: relative;
  display: inline-block;
}
.member-list {
  position: relative;
  display: inline-block;
  vertical-align: -9px;
}
.member-list > li {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
}
.member-list li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 1px;
  height: 9px;
  background-color: #969696;
}
.member-list li:last-child:after {
  content: none;
}
.member-list > li > a {
  position: relative;
  display: block;
  font-size: 13px;
  color: #666;
}
/* center-more는 js연동 */
